---
name: Tests

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - 'templates/**'
      - 'tests/**'
      - 'Chart.yaml'
      - '.github/workflows/tests.yml'
  pull_request:
    branches: [main]
    paths:
      - 'templates/**'
      - 'tests/**'
      - 'Chart.yaml'
      - '.github/workflows/tests.yml'

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install devbox
        uses: jetify-com/devbox-install-action@v0.14.0
      - name: Run Unit tests
        run: devbox run -- task tests:unit
